<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :proposal %><br />
    <%= f.text_field :proposal %>
  </div>
  <div class="field">
    <%= f.label :startlst %><br />
    <%= f.text_field :startlst %>
  </div>
  <div class="field">
    <%= f.label :endlst %><br />
    <%= f.text_field :endlst %>
  </div>
  <div class="field">
    <%= f.label :totalhours %><br />
    <%= f.text_field :totalhours %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
