<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Proposal</th>
    <th>Startlst</th>
    <th>Endlst</th>
    <th>Totalhours</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.proposal %></td>
    <td><%= job.startlst %></td>
    <td><%= job.endlst %></td>
    <td><%= job.totalhours %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
