<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Hours</th>
    <th>Lstmin</th>
    <th>Lstmax</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.hours %></td>
    <td><%= job.lstmin %></td>
    <td><%= job.lstmax %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
