<h1>Schedules</h1>

<table id="schedules">
  <tr>
<!--    <th>Enabled</th> -->
    <th>Favorite</th>
    <th>Name</th>
    <th>Actions</th>
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
<!--    <td><%= schedule.enabled %></td> -->
    <td><%= schedule.favorite %></td>
    <td><%= link_to schedule.name, schedule, {:target => "scheduleview"} %></td>
<!--    <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td> -->
    <td><%= link_to 'X', schedule, :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Schedule', new_schedule_path %>
